html,
body,
#app {
  --font: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans",
    Arial, sans-serif;

  font-family: var(--font);
  font-size: 16px;
  margin: 0;
  padding: 0;
  height: 100%;
}
